{% extends 'humshaugh_table_tennis/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
 - Club Nights
{% endblock %}

{% block body_block %}
<div class="body_block">
	<h2>Club Nights</h2>
	<div class="border-t">
	We play on Thursday evenings between September and May - see calendar.
	</div>
	<div class="border-tb" style="text-align:center;">
		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=humshaughtt%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FLondon" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
{% endblock %}