{% extends 'humshaugh_table_tennis/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
 - Contact Us
{% endblock %}

{% block body_block %}
<div class="body_block">
	<h2>Contact Us</h2>
	<div class="border-tb">
	<table id="contact-table">
		<tr>
			<td><big>Contacts/Committee</big></td>
			<td><big>Role</big></td>
			<td><big>Phone</big></td>
		</tr>
		<tr>
			<td>Richard Bullen</td>
			<td>Chair & Competition Secretary</td>
			<td>01434 681603</td>
		</tr>
		<tr>
			<td>Richard Bullen</td>
			<td>Chair & Competition Secretary</td>
			<td>01434 681603</td>
		</tr>

	</table>
	</div>
</div>
{% endblock %}